<p id="notice"><%= notice %></p>

<h1>Animals Cats</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @animals_cats.each do |animals_cat| %>
      <tr>
        <td><%= animals_cat.name %></td>
        <td><%= animals_cat.age %></td>
        <td><%= link_to 'Show', animals_cat %></td>
        <td><%= link_to 'Edit', edit_animals_cat_path(animals_cat) %></td>
        <td><%= link_to 'Destroy', animals_cat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Animals Cat', new_animals_cat_path %>
